/*------------VALORES INICIALES------------*/
::before *,
::after * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.8;

}

:root {
    font-size: 65.5%;
    /*10px*/
    font-family: 'Changa', sans-serif;
    /*color: white;*/


}

body {
    font-size: 150%;
}

h1,
ul {
    font-family: 'Pacifico', cursive;
}

h1 {
    width: fit-content;
    padding: 0.5rem;
    border-radius: 5px;

    font-size: 200%;
    /*20px*/

    background-color: var(--secondary-transparency);
}

a {
    text-decoration: none;
    color: black;
}
i{ 
    cursor:pointer;}


/*------------BODY------------*/
body {
    width: 98vw;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 10rem fit-content(100%) fit-content(10rem);
    grid-column-gap: 0px;
    grid-row-gap: 5px;
}



/*------------HEADER------------*/
header {
    grid-area: 1 / 1 / 2 / 10;
    background-color: azure;
    height: fit-content;

    /*Cuadrícula grid dentro del header*/
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(2, 5rem);
}

/*Barra de identificación*/
header div.identificacion {
    grid-area: 1 / 1 / 2 / 10;
    background-color: antiquewhite;

    /*Layout de la barra*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Logo*/
header div.identificacion img {
    width: 5rem;
    height: 5rem;
}

/*Enlaces*/
header div.identificacion .enlaces {
    padding: 1rem;
    display: flex;
    align-items: center;
}

header div.identificacion .enlaces p {
    padding: 1rem;
    cursor:pointer;
}

/*Barra de navegación*/
header nav {
    grid-area: 2 / 4 / 3 / 7;
    background-color: aquamarine;

}

header nav ul {
    display: flex;
    justify-content: space-between;

    margin-right: 4rem;
    margin-top: 0;
    
    list-style-type: none;
    cursor:pointer;
}




/*------------MAIN------------*/
main {
    grid-area: 2 / 1 / 3/ 10;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}


/*------------INICIO------------*/
main .inicio {
    grid-area: 1/1/2/2;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(14, fit-content(5rem));
    grid-column-gap: 0px;
    grid-row-gap: 5px;
}

main .inicio #hero {
    grid-area: 1/1/4/4;

    background-color: rgb(154, 73, 73);
}

main .inicio #eslogan {
    grid-area: 1/4/4/10;

    background-color: rgb(104, 187, 93);
}

main .inicio #carrusel {
    grid-area: 4/1/8/10;

    background-color: rgb(109, 93, 187);
}

main .inicio #siguenos {
    grid-area: 8/1/12/10;

    background-color: rgb(163, 93, 187);
}

main .inicio #recibe-ofertas {
    grid-area: 12/1/14/10;

    background-color: rgb(93, 170, 187);
}



/*------------CATÁLOGO------------*/
main .catalogo {
    grid-area: 1/1/2/2;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, fit-content(100%));
    grid-row-gap: 0.5rem;
}

/*Botones de control de orden*/
main .catalogo .control {
    grid-area: 1 / 1 / 2 / 2;
}

/*Contenedor de los artículos*/
main .catalogo .item-container {
    grid-area: 2 / 1 / 2 / 2;
    background-color: beige;
    padding-left: 4rem;

    /*Cuadrícula grid dentro de container*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 4rem;
    grid-row-gap: 2rem;
}

.item-container .item img {
    width: 15rem;
}



/*------------PRODUCTO (DETALLE)------------*/
main .detalle {
    grid-area: 1/1/2/2;
    margin: 20rem;
    margin-top: 1rem;

    display: flex;
}

.detalle-images {
    width: 50%;
}

.detalle img {
    width: 100%;
}

.detalle .info {
    width: 50%;
    margin-left: 1rem;
}

/*------------CARRITO------------*/
main .carrito {
    grid-area: 1/1/2/2;
    margin: 20rem;
    margin-top: 1rem;

    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 5rem, fit-content(80%);
}

main .carrito .title{
    grid-area: 1/1/2/2;
}

main .carrito .resumen{    
    grid-area: 2/2/3/3;
}

/*Contenedor de todos los productos del carrito*/
main .carrito .container-items {
    grid-area: 2/1/3/3;
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

main .carrito .container-items .item-c {
    display: flex;
}

main .carrito img {
    
    width: 20rem;
    height: 25rem;
    margin-right: 2rem;
}

/*------------REGISTRO------------*/
main .registro form fieldset{
    display: flex;
    flex-direction: column;
}


/*------------FOOTER------------*/
footer {
    grid-area: 3 / 1 / 4 / 10;
    background-color: wheat;

    /*Cuadrícula grid dentro del footer*/
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(2, 5rem);
}

/*Estilo de todas las secciones del footer*/
footer section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer #ayuda {
    grid-area: 1 / 1 / 4 / 3;
    background-color: azure;
}

footer #nosotros {
    grid-area: 1 / 3 / 4 / 5;
    background-color: blanchedalmond;
}

footer #legal {
    grid-area: 1 / 5 / 4 / 7;
    background-color: salmon;
}

footer #metodos-pago {
    grid-area: 1 / 7 / 4 / 9;
    background-color: aquamarine;
}

footer .redes-sociales {
    grid-area: 1 / 9 / 4 / 10;
    background-color: cornflowerblue;

    justify-content: space-evenly;
}