/*------------FOOTER------------*/
footer {
    grid-area: 3 / 1 / 4 / 10;

    /*Cuadrícula grid dentro del footer*/
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(2, 5rem);

    /*Colores*/
    background-image: linear-gradient(to left, var(--fucsia), var(--dark-blue));

    /*Borde*/
    border: 0.5rem solid var(--primary-color);
    border-radius: 1rem;
}

/*Estilo de todas las secciones del footer*/
footer section {
    /*Display*/
    display: flex;
    flex-direction: column;
    align-items: center;

    /*Borde*/
    border-left: 3px solid var(--primary-color);
}

footer a {
    text-decoration: underline var(--terciary-color);
    margin-top: 1rem;
}

footer #ayuda {
    grid-area: 1 / 1 / 4 / 3;
    border-left: none;
}

footer #nosotros {
    grid-area: 1 / 3 / 4 / 5;
}

footer #legal {
    grid-area: 1 / 5 / 4 / 7;
}

footer #metodos-pago {
    grid-area: 1 / 7 / 4 / 9;
}

footer #metodos-pago i {
    font-size: 400%;
}

footer #redes-sociales {
    grid-area: 1 / 9 / 4 / 10;

    justify-content: space-evenly;
    font-size: 200%;
}

/*------------MEDIA QUERIES------------*/
@media (max-width: 950px) {
    footer {
        /*Cuadrícula grid dentro del footer*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
    }
}

@media (max-width: 780px) {
    footer #ayuda {
        grid-area: 1 / 1 / 4 / 2;
        border-left: none;
    }

    footer #nosotros {
        grid-area: 1 / 2 / 4 / 3;
    }

    footer #legal {
        grid-area: 4 / 1 / 9 / 2;
        border: none;
        border-top: 3px solid var(--primary-color);
    }

    footer #metodos-pago {
        grid-area: 4 / 2 / 9/ 3;
        border-top: 3px solid var(--primary-color);
    }

    footer #redes-sociales {
        grid-area: 1 / 9 / 10 / 3;
    }
}